/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.calculator {
    width: 320px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    font-size: 18px;
    padding: 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.btn:active {
    background-color: #222;
}


/* Basic css on div  */

/* Apply gradient overlay to the image on hover */
.Blue_section_three_col .blue-page-cards:hover .fam .familysvg {
    filter: brightness(0.8); /* Dim the image */
    background: linear-gradient(45deg, rgba(83, 136, 240, 0.5), rgba(0, 0, 0, 0.5));

    transition: all 0.3s ease-in-out; /* Smooth transition */
}
.Blue_section_three_col .blue-page-cards:hover .col-lg-12.d-flex.cards-heading {
   
    background-color: #5388F0;
  
    transition: all 0.3s ease-in-out; /* Smooth transition */
}


.knowledge_center_section_one .blue-page-cards{
    border: 2px solid #5388F0; /* White border */
      background-color: white;
	    margin: 10px 0px;
	outline: none;
	text-align: right;
	position: relative;
}

.Blue_section_three_col .blue-page-cards:hover .col-lg-12.d-flex.cards-heading a{
  color: white;

    transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Ensuring hover leaves the original styles intact */
.Blue_section_three_col .blue-page-cards .fam .familysvg {
    filter: none;
    transition: all 0.3s ease-in-out;
}
/* Hover effect for the complete card */

.Blue_section_three_col .blue-page-cards:hover  .Blue_section_three_col .splide__slide a{
	color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
	
	
}

